<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bismuth</title>
</head>
<body>
    <center>
        <h1>Bismuth frontpage</h1>
        {{#index}}
            <p>
                <a href="{{myUrl}}app/{{id}}"> {{title}} </a>
            </p>
        {{/index}}
    </center>
</body>