<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bismuth</title>
</head>
<body>
<iframe width="0" height="0" border="0" name="nothing" id="nothing" style="display: none"></iframe>
    <div>
        <div>
            <h1>{{title}}</h1>
            <p>{{message}}</p>
        </div>
        {{#replies}}
            <div>
                <!--<span>{serverTime}</span>-->
                <p>{{message}}</p>
            </div>
        {{/replies}}
        <div>
            <form action="/app/{{id}}/reply" method="post" target="nothing">
                <input type="text" name="message" placeholder="Reply nuggah"/>
                <input type="submit" value="Reply to topic"/>
            </form>
        </div>
    </div>
</body>