<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Twilight Sparkle Chord Ring</title>
    </head>
    <body style="text-align: center">
        <h1>Chord Node</h1>
        ID: {{id}} <br/>
        SUCCESSOR: <a href="{{succ}}"> {{succ}} </a> <br/>
        PREDECESSOR: <a href="{{pred}}"> {{pred}} </a> <br/>
        <img src="http://mylittlepony.hasbro.com/images/spring2016/ponies/char_twilightsparkle.png"/>
    </body>
</html>