<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Twilight Sparkle Chord Ring</title>
</head>
<body style="text-align: center; background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 100%), url(http://vignette2.wikia.nocookie.net/vsbattles/images/4/4e/Twilight_Sparkle.png/revision/latest?cb=20141116084624);">
<h1>Chord Node <br/>
    ID: {{id}} <br/>
</h1>
SUCCESSOR: <a href="{{succ}}"> {{succ}} </a> <br/>
PREDECESSOR: <a href="{{pred}}"> {{pred}} </a> <br/>
<iframe width="0" height="0" border="0" name="nothing" id="nothing" style="display: none"></iframe>
<form action="/lookup/linear" method="post" target="nothing">
    <input type="number" name="key" placeholder="Find node with key..." min="0" max="4095"/>
    <input type="submit" value="Linear lookup"/>
</form>
<form action="/lookup/finger" method="post" target="nothing">
    <input type="number" name="key" placeholder="Find node with key..." min="0" max="4095"/>
    <input type="submit" value="Finger lookup"/>
</form>
<form action="/resource" method="post" target="nothing">
    ID:<input type="text" name="id" value="300028000147353138383138"/>
    ACCESSTOKEN:<input type="text" name="token" value="b4cf943eeb88b98ef17cafd76d86b557704c5c2f"/>
    <input type="submit" value="PUT"/>
</form>
{{#hasData}}
    <p>Data: {{data}}</p>
    {{#hasDataForm}}
        <form action={{getseturl}} method="POST" target="nothing">
            </br>
            <input type="radio" name="args" value="on">Turn the LED on.
            </br>
            <input type="radio" name="args" value="off">Turn the LED off.
            </br>
            <input type="submit" value="Do it!">
        </form>
    {{/hasDataForm}}
{{/hasData}}
</div>
<div style="height: 300px;">
    <div style="float: left; width: 25%; margin-left: 25%; text-align: left;">
        <h1>Successors</h1>
        {{#successors}}
            <p><a href="{{.}}"> {{.}} </a></p>
        {{/successors}}
    </div>
    <div style="float: left; width: 25%; margin-right: 25%; text-align: right;">
        <h1>Finger Table</h1>
        {{#fingerTable}}
            <p>{{.}}</p>
        {{/fingerTable}}
    </div>
</div>
<div>
    {{#addresses}}
        <p>{{.}}</p>
    {{/addresses}}
</div>
</br>
<form action="/leave" method="post">
    <input type="submit" value="LEAVE"/>
</form>
</br>
</br>
<form action="/kill" method="post">
    <input type="submit" value="KILL"/>
</form>
</body>
</html>